
<h1 style="text-align : center; color:crimson">Welcome to Registration Page</h1>

<div style="text-align:center; background-color:darkseagreen;width:300px">

    <h2>Enter Registration Details</h2>
    <label for="Name">Name:</label>
    <input id="Name" [(ngModel)]="name"/>
    <br><br>
    <label for="email">Email:</label>
    <input type="email" id="eid" [(ngModel)]="eid"/>
    <br><br>
    <label for="pass">Password:</label>
    <input type="password" id="pass" [(ngModel)]="password"/>
    <br><br>
    <label for="city">City:</label>
    <input id="city" [(ngModel)]="city"/>
    <br><br>
    <label for="co">Country:</label>
    <input id="ctn" [(ngModel)]="country"/>
    <br><br>
    
    <button (click)="dispRegData()">show details</button>
    <div [hidden]="txt2" [ngStyle]="boxStyle" [style]="{'text-align':'center'}">
    
    <h2>Registered Data</h2>
    <h4>Name</h4>{{name}}    
    <h4>Email</h4>{{eid}}    
    <h4>Password</h4>{{password}}  
    <h4>City</h4>{{city}}    
    <h4>Country</h4>{{country}}
    
    </div>
    
    
    </div>
    
      
    <h2>Radio button</h2>
    <form>
        <label><input type="radio" value="Red" [(ngModel)]="rdoEvent.color" [ngModelOptions]="{standalone: true}">Red</label>
       
        <label><input type="radio" value="Blue" [(ngModel)]="rdoEvent.color" [ngModelOptions]="{standalone: true}">Blue</label>
        
        <label><input type="radio" value="Black" [(ngModel)]="rdoEvent.color" [ngModelOptions]="{standalone: true}">Black</label>
        
        
        </form>
        
        <div>
          
          <div *ngIf ="rdoEvent.color=='Red'">
            Red color selected.
          </div>
          <div *ngIf ="rdoEvent.color=='Blue'">
              Blue color selected.
          </div>
          <div *ngIf ="rdoEvent.color=='Black'">
              Black color selected.
          </div>

          <div>
              <label><h3>Click here to change color of text</h3></label>
               <button (click)="changeColor()">Click me</button>
                 <h1 [ngStyle]="mycolor">Color Change</h1>
             </div>
          
    <h2>Display the input boxs</h2>
    <br>
    <button (click)="dispTextbox()">Press to Display input boxs</button>
    <br><br>
    <input type="text" [hidden]="txt3">
    <br><br>
    <input type="text" [hidden]="txt3">
    <br><br>
    <input type="text" [hidden]="txt3">
 
